---
layout: default
title: Blog
---
<div id="post-page">
  <h1>Sport and Exercise Science</h1>
  <p class= "excerpt"> &lt; insert excerpt here &gt; "Science cannot study what it cannot measure and cannot measure what it cannot define." A similar sentiment can be made about scientific communication. Therefore, check out my definitions page. " </p>
  <h2> Latest Posts </h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category == "exercise-science" %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.excerpt }}
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
