---
layout: default
title: Blog
---
<div id="post-page">
  <h1>Data Science and Statistics</h1>
  <p class= "excerpt"> &lt; insert excerpt here &gt; </p>
  <h2> Latest Posts </h2>
  <ul>
    {% for post in site.posts %}
    {% if post.category == "statistics" %}
      <li>
        <h4> {{ post.date | date_to_string }} &sdot; <img src="/assets/images/timer.svg"> {{ post.read-time }} minute read time. </h4>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <!--{{ post.excerpt }}-->
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
