---
layout: default
title: Steven Hirsch
---
<!-- Landing Page -->

<div id= "about">
    <h1> Hi <span class="wave">👋</span>, I'm Steven. </h1>
    <div class="wrapper slide-items-in-from-bottom" id="wrapper">
      <p> I am currently a Ph.D. student at the University of Toronto studying
      Sport and Exercise Biomechanics. </p>
      <p> I am interested in <a href= "/blog-sport-and-exercise-science.html">sport and exercise science</a>, <a href="/blog-data-science-and-statistics.html">statistics</a>,
      sports analytics, philosphy, and all things math. </p>
      <!--class="delay1" if you want to insert delays-->
      <p> I've worked as a researcher, consultant, analyst,
        strength and conditioning coach, teacher, and writer for multiple
        organizations and companies. If you'd like to work with me, <a href="mailto: steve.m.h@icloud.com">let's get in touch</a>. </p>
      <p> Keep up with my latest work on ResearchGate, GitHub, or wherever else I'm currently sharing thoughts and ideas.</p>
    </div>

</div>


<!-- Sample code to print most recent articles
<div class="test">
  {% for post in site.posts %}
    {% if forloop.index0 == 3 %}
      {% break %}
    {% else %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </li>
    {% endif %}
  {% endfor %}
</div>
-->

<!-- Services
<div id="services">
  <h2> Services </h2>
  <h3> What can I do for you? </h3>
  <ul>
    <li> Health, Exercise, and Sport </li>
    <ul>
      <li> (Online) Personal Training </li>
      <li> Exercise Technique Analysis</li>
    </ul>
    <li> Technical </li>
    <ul>
      <li>Machine Learning</li>
      <li>Data Visualization</li>
      <li>Biomechanical Modelling</li>
      <li>Statistical Modelling/Forecasting</li>
    </ul>
    <li> Content Creation </li>
    <ul>
      <li>Writing Blog Articles</li>
      <li>Copywriting and Proofreading</li>
      <li>Creating Infographics</li>
    </ul>
  </ul>
</div>
-->
<!-- Brief Resume, click for full CV
<div id="resume">
  <h2> Resume </h2>
  <h3> Education <h3>
  <h3> Work Experience </h3>
</div>
-->
<!-- Email list to never miss a beat -->
