---
layout: default
title: Steven Hirsch
---
<!-- Landing Page -->
<div id= "about">
  <div class="left-column">
    <img src="/assets/images/me.jpeg">
  </div>
  <div class="right-column">
    <h1> Who am I? </h1>
    <p> Hi! I'm Steven Hirsch. </p>
    <p> I am a biomechanist, strength and conditioning coach, self-taught programmer,
     sports enthusiast, and a general lover of learning.</p>
    <p> I've worked as a reseacher, trainer, writer, teacher, and analyst. </p>
    <ul>
      <li><a href="/about.html"> Learn more about me </a></li>
    </ul>
  </div>
  <br style="clear:both;"/>
</div>
<!-- Sample code to print most recent articles
<div class="test">
  {% for post in site.posts %}
    {% if forloop.index0 == 3 %}
      {% break %}
    {% else %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </li>
    {% endif %}
  {% endfor %}
</div>
-->

<!-- Services
<div id="services">
  <h2> Services </h2>
  <h3> What can I do for you? </h3>
  <ul>
    <li> Health, Exercise, and Sport </li>
    <ul>
      <li> (Online) Personal Training </li>
      <li> Exercise Technique Analysis</li>
    </ul>
    <li> Technical </li>
    <ul>
      <li>Machine Learning</li>
      <li>Data Visualization</li>
      <li>Biomechanical Modelling</li>
      <li>Statistical Modelling/Forecasting</li>
    </ul>
    <li> Content Creation </li>
    <ul>
      <li>Writing Blog Articles</li>
      <li>Copywriting and Proofreading</li>
      <li>Creating Infographics</li>
    </ul>
  </ul>
</div>
-->
<!-- Brief Resume, click for full CV
<div id="resume">
  <h2> Resume </h2>
  <h3> Education <h3>
  <h3> Work Experience </h3>
</div>
-->
<!-- Email list to never miss a beat -->
