<!DOCTYPE html>
<html lang="en" dir="ltr" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <!-- Renders latex for blog -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}

    <script>
    // this checks whether system dark mode is set
    let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
    // this checks for session storage telling to override
    // the system preferences
    let theme = sessionStorage.getItem('theme');
    if (systemInitiatedDark.matches) {
    	document.getElementById("theme-toggle").innerHTML = "☀";
    } else {
    	document.getElementById("theme-toggle").innerHTML = "☽";
    }

    function prefersColorTest(systemInitiatedDark) {
      if (systemInitiatedDark.matches) {
      	document.documentElement.setAttribute('data-theme', 'dark');
       	document.getElementById("theme-toggle").innerHTML = "☀";
       	// this clears the session storage
       	sessionStorage.setItem('theme', '');
      } else {
      	document.documentElement.setAttribute('data-theme', 'light');
        document.getElementById("theme-toggle").innerHTML = "☽";
        sessionStorage.setItem('theme', '');
      }
    }
    systemInitiatedDark.addListener(prefersColorTest);

    function modeSwitcher() {
    // it’s important to check for overrides again
    	let theme = sessionStorage.getItem('theme');
    	// checks if reader selected dark mode
    	if (theme === "dark") {
    		document.documentElement.setAttribute('data-theme', 'light');
    		sessionStorage.setItem('theme', 'light');
    		document.getElementById("theme-toggle").innerHTML = "☽";
    		// checks if reader selected light mode
    	}	else if (theme === "light") {
    		document.documentElement.setAttribute('data-theme', 'dark');
    		sessionStorage.setItem('theme', 'dark');
    		document.getElementById("theme-toggle").innerHTML = "☀";
    		// checks if system set dark mode
    	} else if (systemInitiatedDark.matches) {
    		document.documentElement.setAttribute('data-theme', 'light');
    		sessionStorage.setItem('theme', 'light');
    		document.getElementById("theme-toggle").innerHTML = "☽";
    		// the only option left is system set light mode
    	} else {
    		document.documentElement.setAttribute('data-theme', 'dark');
    		sessionStorage.setItem('theme', 'dark');
    		document.getElementById("theme-toggle").innerHTML = "☀";
    	}
    }

    if (theme === "dark") {
    	document.documentElement.setAttribute('data-theme', 'dark');
    	sessionStorage.setItem('theme', 'dark');
    	document.getElementById("theme-toggle").innerHTML = "☀";
    } else if (theme === "light") {
    	document.documentElement.setAttribute('data-theme', 'light');
    	sessionStorage.setItem('theme', 'light');
    	document.getElementById("theme-toggle").innerHTML = "☽";
    }
    /* Based on https://derekkedziora.com/blog/dark-mode-revisited */
    </script>
  </body>
</html>
